.hero {
  position: relative;
  min-height: 60vh;
  display: flex;
  align-items: center;        
  justify-content: flex-end;  /* đẩy khối sang bên phải */
  background: url('images/anhnen.jpg') center/cover no-repeat;
}

.hero .wrap.container {
  transform: translateX(6cm);
}

/* Lightbox */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
}
.lightbox.show { display: flex; }
.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
}
